/*
 * author thebadlorax
 * created on 28-02-2026-07h-58m
 * github: https://github.com/thebadlorax
 * copyright 2026
*/

@font-face {
    font-family: 'Jersey 20';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../res/Jersey20-Regular.ttf") format("truetype")
}
  