/*
 * author thebadlorax
 * created on 12-02-2026-18h-54m
 * github: https://github.com/thebadlorax
 * copyright 2026
*/

html {
    overscroll-behavior: none;
    font-family: "Jersey 20", sans-serif;
    font-weight: 200;
    font-size: 20px;
    font-style: normal;
}

body {
  background-image: url("../res/gambling_bg.png");
  background-color: white;
  background-repeat: no-repeat;
  background-size: 100vw;
  color: black;
  text-decoration: none;
  /*height: 318vw;*/
  height: 115vw;
}

.not-picked {
    opacity: 80%;
    transform: scale(0.95);
}

.basic-text {
    color: black;
}

.button {
    background: none;
    border: none;
    transition: transform 0.2s ease-in-out; 
}

.card {
    transform: scale(0.75);
    z-index: 1;
    transition: transform 0.2s ease-in-out; 
    image-rendering: pixelated;
    position: absolute;
    border-radius: 3px;

    -webkit-user-drag: none; /* For WebKit browsers (Chrome, Safari, Opera) */
    user-drag: none; /* Standard property */
    -webkit-user-select: none; /* Prevents text selection */
    -moz-user-select: none; /* For Firefox */
    -ms-user-select: none; /* For Internet Explorer/Edge */
    user-select: none; /* Standard property */
}

.card.active:hover {
    transform: scale(.95);
    z-index: 10;
}

.bust {
    filter:grayscale(100%) opacity(85%) contrast(200%);
}

.basic-link {
    color: grey;
    text-decoration: underline;
    font-weight: 400;
}

.basic-link:hover {
    color: black;
    font-weight: 700;
    cursor: pointer;
}

.picked {
    transform: scale(1.25) rotate(-12.5deg); 
}

.button:hover:not(.picked) {
    transform: scale(1.1) rotate(5deg); 
}

.winning-snail {
    filter: hue-rotate(90deg); 
}

.unselectable {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome, Safari, Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Standard syntax */
}

.receipt {
    position: fixed; 
    transform: scale(0.8) rotate(30deg);
    top: 65%; 
    left: -25%;
    z-index: 999;
    width: 50vw;
    height: 50vw;
    transition: transform 0.3s ease-in-out; 
}

.receipt:hover {
    transform: scale(1.0) translate(48%, -50%) rotate(2.5deg);
}

.receipt * {
    transition: transform 0.3s ease-in-out; 
}

.survey {
    position: absolute;
    font-size: 1.5vw; 
    color: black; 
    transform: scale(1.0) translate(3vw, 13vw);
    text-decoration: underline;
}

.hide {
    display: none;
}

.survey-div p {
    position: absolute;
    font-size: 1.5vw;
    color: black;
}

.survey-div input {
    position: absolute;
    background: none;
    font-size: 1vw;
    border: none;
    outline: none;
    font-family: "Jersey 20", sans-serif;
}

.slider-input::-webkit-slider-thumb {
    -webkit-appearance: none; /* Remove default styling */
    appearance: none;
    height: 30px; /* Set the desired height for your image */
    width: 30px; /* Set the desired width for your image */
    cursor: pointer; /* Change the cursor to a hand pointer */
    
    /* Apply your background image */
    background-image: url('../res/gambling_chip_red.png'); 
    background-size: contain; /* Ensures the image fits within the dimensions */
    background-repeat: no-repeat; /* Prevents image from repeating */
    background-position: center; /* Centers the image */
}

.slider-input::-moz-slider-thumb {
    -webkit-appearance: none; /* Remove default styling */
    appearance: none;
    height: 30px; /* Set the desired height for your image */
    width: 30px; /* Set the desired width for your image */
    cursor: pointer; /* Change the cursor to a hand pointer */
    
    /* Apply your background image */
    background-image: url('../res/gambling_chip_red.png'); 
    background-size: contain; /* Ensures the image fits within the dimensions */
    background-repeat: no-repeat; /* Prevents image from repeating */
    background-position: center; /* Centers the image */
}

.survey:hover {
    font-size: 1.55vw;
    cursor: pointer;
}